apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: vote
  name: vote
spec:
  replicas: 4
  selector:
    matchLabels:
      app: vote
  template:
    metadata:
      labels:
        app: vote
      containers:
      - image: pravee033/example-voting-app-vote
        name: vote
        env:
        - name: REDIS
          value: "redis"  
        ports:
        - containerPort: 80
          name: vote